.banner {
  height: 195px;
  width: 100%;
  display: block;
  position: relative;
  background: lightcoral;

  &__container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.438em;
    line-height: 1.217em;
    color: #FBB739;
    margin-bottom: 20px;

    span {
      display: block;
      color: #FFFFFF;
    }
  }

  &__hashtag {
    font-style: normal;
    font-weight: 500;
    font-size: 0.750em;
    line-height: 1.250em;
    color: #FFFFFF;
    margin-bottom: 11px;
  }
}