.footer {
  background: #202020;
  padding-top: 35px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__networks {
    padding: 0 15px;
    height: 37px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a {
      &:nth-child(2){
        margin: 0 21px;
      }
    }
  }

  &__info {
    padding: 0 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #FFFFFF;;

    &__copyright {
      font-style: normal;
      font-weight: 500;
      font-size: 0.750em;
      line-height: 1.250em;
      color: #FFFFFF;
    }

    &__terms {
      font-style: normal;
      font-weight: 500;
      font-size: 0.750em;
      line-height: 1.250em;
      color: #B2B2B2;

      a {
        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }
}