.header {
  height: 49px;
  background: #282828;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px
  }

  &__hamburger {
    display: block;

    label {
      cursor: pointer;
      position: relative;
      z-index: 999;

      span {
        width: 25px;
        height: 3px;
        display: block;
        background-color: #FFF;
        transition: transform 0.25s ease-out;
        z-index: 999;
        border-radius: 15px;

        &:nth-child(2){
          margin: 4px 0;
        }
      }
    }
  }
}