.info {
  
  &__container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.438em;
    line-height: 1.217em;
    color: #404040;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;

    span {
      color: #FBB739;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    margin-top: 17px;
    margin-bottom: 36px;
  }
}