.plans {
  background: #202020;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 1.500em;
    line-height: 1.208em;
    text-align: center;
    color: #FEB530;
    text-align: center;
    margin-bottom: 26px;
  }

  &__info {

    &__item {
      $this: &;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &__top {
        height: 130px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
        position: relative;

        span.sub {
          font-style: normal;
          font-weight: 500;
          font-size: 1.125em;
          line-height: 1.222em;
          color: #545454;
          margin-top: 26px;
          margin-bottom: 4px;
        }
        
        span.name {
          font-style: normal;
          font-weight: 800;
          font-size: 2.000em;
          line-height: 1.219em;
          color: #545454;
          margin-bottom: 17px;
        }

        span.sticker {
          font-style: normal;
          font-weight: 800;
          font-size: 0.524em;
          line-height: 1.193em;
          position: absolute;
          color: #FFFFFF;
          text-transform: uppercase;
          padding: 3px 7px;
          background: #D32D27;
          border-radius: 2px;
          border-top-right-radius: 5px;
          right: 0;
          top: 0
        }
      }

      &__bottom {
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        span.price {
          background: #202020;
          border-radius: 4px;
          font-style: normal;
          font-weight: bold;
          font-size: 1em;
          line-height: 1.1em;
          color: #FBB739;
          width: 202px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          text-align: center;
          position: absolute;
          top: -21.5px;
        }
        button.open_description {
          font-style: normal;
          font-weight: 600;
          font-size: 0.750em;
          line-height: 1.250em;
          color: #000000;
          border: none;
          background: transparent;
          position: relative;
          outline: none;
          padding: 0;
          margin-top: 35px;
          padding-right: 20px;
          margin-bottom: 17px;
  
          &::before {
            content: "";
            width: 9px;
            height: 2px;
            position: absolute;
            background-color: #000000;
            right: 5px;
            transform: rotate(45deg);
            top: 7px;
          }
  
          &::after {
            content: "";
            width: 9px;
            height: 2px;
            position: absolute;
            background-color: #000000;
            transform: rotate(-45deg);
            right: 0px;
            top: 7px;
          }
        }
        .description {
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 0.750em;
            line-height: 1.250em;
            color: #434343;
            &:first-child {
              margin-top: 7px;
            }
            &:last-child {
              margin-bottom: 30px;
            }
          }
          
        }
        button.buy {
          background: #D32D27;
          border-radius: 22.8571px;
          border: none;
          font-style: normal;
          font-weight: bold;
          font-size: 0.813em;
          line-height: 1.308em;
          color: #FFFFFF;
          width: 202px;
          height: 40px;
          outline: none;
          margin-bottom: 39px;
  
          span {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 0.7em;
            line-height: 1.222em;
          }
        }
      }

      &--grey {

        #{$this}__top {
          background: #565656;
          border-radius: 10px 10px 0px 0px;
          
          span.sub {
            color: #FFFFFF;
          }

          span.name {
            color: #FFFFFF;
          }
        }
      }

      &--yellow {
        #{$this}__top {
          background: #E89602;
          border-radius: 10px 10px 0px 0px;
          
          span.sub {
            color: #FFFFFF;
          }

          span.name {
            color: #FFFFFF;
          }
        }
      }
    }
  }
}