section.login
    .login__container
      img.login__logo(src=require('./../../assets/images/logo-smartnutri.svg').default, alt="smartnutri")
      .login__title INICIAR SESIÓN
      .login__form
        .login__form__group
          label E-MAIL:
          input(type="text", placeholder="Correo electrónico ")
        .login__form__group
          label PASSWORD:
          input(type="password", placeholder="Contraseña")
        button.login__form__button INGRESAR
        button.login__form__button.login__form__button--cancel CANCELAR
      a(href="#").login__sign_up REGÍSTRATE