footer.footer
  .footer__container
    .footer__networks
      a(href="#")
        img.footer__networks__fb(src=require('./../../assets/images/icon-fb.svg').default, alt="facebook")
      a(href="#")
        img.footer__networks__twitter(src=require('./../../assets/images/icon-twitter.svg').default, alt="twitter")
      a(href="#")
        img.footer__networks__wifi(src=require('./../../assets/images/icon-wifi.svg').default, alt="wifi")
    .footer__info
      .footer__info__copyright
        span © SMARTFIT 2020
      .footer__info__terms
        a(hre="#") Terminos
        a(hre="#") Privacidad

      