section.info
  .info__container
    h1.info__title Smart #[span Nutrition]
    h2.info__description Sin una buena nutrición tus esfuerzos no son productivos. Nuestro propósito es enseñarte a tomar conciencia y control de tu alimentacion.​