section.plans
  .plans__container
    span.plans__title DESCUBRE NUESTROS PLANES
    .plans__info
      .plans__info__item
        .plans__info__item__top
          span.sub PLAN
          span.name BÁSICO
        .plans__info__item__bottom
          span.price Gratis para Clientes Smart Fit 
          button.open_description Conoce detalle del plan
          .description
            p Registra tus medidas, actividad física y alimentación.
            p Define tus objetivos
            p Define tus objetivos Obtén un diagnostico de tus principales indicadores y sus valores ideales.
          button.buy ACCEDE YA #[span *3.49 para no clientes de Smart FIT]
      .plans__info__item.plans__info__item--grey
        .plans__info__item__top
          span.sub PLAN
          span.name REGULAR
        .plans__info__item__bottom
          span.price POR S/ 9 AL MES 
          button.open_description Conoce detalle del plan
          .description
            p Evalua tus progresos con estadística
            p Identifica tus brechas con informes detallados de tu alimentación y su composición​.
            p Recibe un plan guía dietético y las claves para mejorar todos los meses​.
          button.buy COMPRA AHORA
      .plans__info__item.plans__info__item--yellow
        .plans__info__item__top
          span.sub PLAN
          span.name REGULAR
          span.sticker Recomendado
        .plans__info__item__bottom
          span.price POR S/ 49 AL MES
          button.open_description Conoce detalle del plan
          .description
            p Evalua tus progresos con estadística 
            p Identifica tus brechas con informes detallados de tu alimentación y su composición​.
            p Recibe un plan guía dietético y las claves para mejorar todos los meses​.
            p Agrega habitos y patologias a tus recomendaciones y guias
            p Accede a teleconsultas mensuales con nutricionistas sin costo adicional
          button.buy COMPRA AHORA
