.login {
  height: 100vh;
  background: lightcoral;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  &__logo {
    margin-top: 50px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.222em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      width: 100%;

      &:last-of-type{
        margin-bottom: 0;
      }

      label {
        font-style: normal;
        font-weight: 500;
        font-size: 0.750em;
        line-height: 1.250em;
        color: #FFFFFF;
        margin-bottom: 4px;
      }

      input {
        background: #FFFFFF;
        border-radius: 5px; 
        height: 40px;    
        font-style: normal;
        font-weight: 500;
        font-size: 0.875em;
        line-height: 1.214em;
        color: #50535A;
        border: none;
        padding: 0 10px;
        outline: none;
        width: 100%;
        box-sizing: border-box;
      }
    }

    &__button {
      background: #FBB739;
      border-radius: 22.8571px;    
      max-width: 250px;
      width: 100%;
      height: 40px; 
      border: none;
      font-style: normal;
      font-weight: bold;
      font-size: 0.857em;
      line-height: 1.240em;
      color: #000000;
      margin-top: 30px;
      outline: none;

      &--cancel {
        background: #404040;
        margin-top: 20px;
        color: #FFFFFF;
      }
    }
  }

  &__sign_up {
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25em;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }

}