doctype html
html(lang="es-ES")
    head
    meta(charset='utf-8')
    meta(name='viewport' ,content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"')
    title Smart Fit
    meta(name='description', content="Smart Fit")
    meta(content ="index, follow" name="robots")
    meta(name='keywords', content="")
    meta(name='author', content="")
    //- Theme color (Only Chrome Mobile)
    meta(name="theme-color", content="#00385d")
    //- Facebook meta tags
    meta(property='og:title', content="")
    meta(property='og:description', content="")
    meta(property='og:type', content="")
    meta(property='og:url', content="")
    meta(property='og:image', content="")
    //- Evitar Cache
    meta(http-equiv='Expires', content='0')
    meta(http-equiv='Last-Modified', content='0')
    meta(http-equiv='Cache-Control', content='no-cache, mustrevalidate')
    meta(http-equiv='Pragma', content='no-cache')
    //- Favicon
    link(href='#', rel='Shortcut Icon')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet")
    body
      main.smartfit
        block content
