section.sign-up
    .sign-up__container
      img.sign-up__logo(src=require('./../../assets/images/logo-smartnutri.svg').default, alt="smartnutri")
      .sign-up__title REGÍSTRATE
      .sign-up__form
        .sign-up__form__group
          label NOMBRE COMPLETO:
          input(type="text", placeholder="Nombres y apellidos")
        .sign-up__form__group
          label E-MAIL: 
          input(type="text", placeholder="Correo electrónico ")
        .sign-up__form__group
          label PASSWORD:
          input(type="password", placeholder="Contraseña")
        .sign-up__form__group
          label CONFIRMAR PASSWORD:
          input(type="password", placeholder="Repetir Contraseña ")
        button.sign-up__form__button Usar datos SmartFit
        button.sign-up__form__button.sign-up__form__button--submit REGISTRARTE
        button.sign-up__form__button.sign-up__form__button--fb REGISTRARTE CON FACEBOOK
      span.sign-up__login ¿Ya tienes cuenta? #[a(href="#") INICIA SESIÓN]